body {
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* This makes vertical centering work */
    margin: 0; /* Good practice to remove default margin */
}

/* This is the container for the whole component */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px; /* Adds space between display and buttons */
}

.buttonContainer {
    display: flex;
    gap: 20px;
}

.display {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 90px;
    margin: 40px;
}

.btn {
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    background-image: linear-gradient(to right, rgb(255, 238, 51) 0%, #ffd56c 50%, rgb(255, 194, 41) 100%);
}

.btn:hover {
    background: #ff9100;
}

.btn:active {
    background: #ff4d00;
}


